body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.info-boxes {
  display: flex;
  column-gap: 1em;
  row-gap: 1em;
  flex-wrap: wrap;
}

.info-box {
  padding: 1em;
  border-width: 3px;
  border-color: white;
  border-style: solid;

  display: flex;
  flex-direction: column;
  row-gap: 0.6em;

  width: 20em;
}

.icon-row {
  display: flex;

  /* justify-content: center; */
  align-items: center;
}

.icon-row > img {
  width: 64px;
  height: 64px;
  margin-right: 1em;
}

.icon-row > span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: xx-large;
}

.icon-row > select {
  height: 32px;
  width: 100%;
}

.number-row {
  display: grid;
  grid-template-columns: 80% 20%;
}

.select-row {
  display: flex;
  flex-direction: column;
}

#ch2-info {
  display: contents;
}

.lvl-up-info {
  display: contents;
}

.stats {
  display: grid;
  grid-template-columns: 5em 1fr;
  row-gap: 5px;
}

.magic-stat {
  display: contents;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: black;
  color: white;
  font-size: large;

  /* add padding to compensate for arrow removal */
  padding: 3px;
  padding-right: 1em;
}

input {
  background-color: black;
  color: white;
  font-size: large;
}

.reducer-desc {
  color: plum;
  margin-right: 0.1em;
}

.reducer-input {
  width: 2.5em;
}

#tables {
  margin-top: 1em;
  display: flex;
}

.table-title {
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
  margin-bottom: 0.2em;
}

td {
  text-align: center;
}

#spell-tables {
  padding-left: 1em;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 1em;
}

#damage-table {
  width: 45em;
}